<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spartan Host - Careers</title>
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
		<div class="pagecontent">
			<h1>Careers</h1>
			<p>Spartan Host has the best and most motivated support team in the hosting industry.</p>

			<p>To keep our high standards up, we are currently hiring!</p>

			<p>If you're interested in applying for a position at Spartan Host then email your Résumé/CV to careers@spartanhost.net</p>
			<p>Available positions are listed below:</p>

			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Support & Sales - <b>Applications Closed</b>
				</div>
				<div class="body">
					<h3>Support & Sales Agent</h3>

					<p>Responsibilities:</p>
					<ul>
						<li>Assisting customers with any issues or questions they may have via ticket and live support</li>
						<li>Work alongside other staff members to provide an excellent support experience</li>
						<li>Troubleshoot plugin and Minecraft server issues</li>
						<li>Report any issues or concerns to management</li>
					</ul>

					<p>Requirements:</p>
					<ul>
						<li>Must be 16 years old or above</li>
						<li>Must have excellent communication skills whether that be via microphone or text chat</li>
	                    <li>Must be able to use Skype while working
						<li>Must be prepared to work within a close friendly staff team</li>
						<li>Must have a high level of knowledge regarding the operation of Minecraft servers</li>
					</ul>

					<p>Helpful Attributes:</p>
					<ul>
						<li>Past experience at another hosting company</li>
						<li>Past experience of running a minecraft server</li>
                        <li>A strong understanding of Linux</li>
						<li>Ability to be online for more than 5 hours and between 1am -> 5pm GMT 0 daily</li>
					</ul>
				</p>

			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>
