	<footer class="container">
		<div class="col-md-6">
			<a href="http://spartanhost.org/terms">Terms of Service</a> | <a href="http://spartanhost.org/careers">Careers</a> | <a href="http://twitter.com/SpartanHost" target="_blank">Twitter</a>
		</div>
		<div class="col-md-6 text-right">
			Copyright 2015 Spartan Host Ltd.
		</div>
	</footer>