<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spartan Host - High Availability Gaming VPS</title>
            <meta name="keywords" content="chicago,dedicated,servers,budget,xeon,intel,ssd,premium,cloud,gigabit,smart,network,phoenix,vps,openvz,kvm,linux,hosting,custom,gaming,games,minecraft,source,csgo,counter,strike,valve,steam,mojang,cpu,ram,cheap,reliable,arma,tf2,gmod,garry,team,fortress" />
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
		<div class="pagecontent">
			<h1>Gaming VPS</h1>
			<p>Choose a high-powered Spartan Host VPS to power your gaming community. Our VPS's are able to support a wide variety of games including Minecraft, Garry's Mod, Team Fortress 2 and many more!</p>
			<br>
			<p>Our VPS's include the following features:
			<p>- High availability network
			<p>- DDoS protection | 20Gb/s in Seattle | 2Gb/s in Dallas
			<p>- Great locations available for low worldwide latency | Seattle and Dallas
			<p>- Powerful processors and SSDs powering your gameserver
			<p>- Easily scalable RAM and disk space
			<p>- IPv6 | Available in Dallas
			<p>- Friendly and helpful support
		</div>
	</div>
	{{> footer}}
</body>
</html>
