	<meta name="description" content="Spartan Host is the cheapest Minecraft, DDoS protected VPS and DDoS protected Dedicated Server host solution for all your hosting needs! With Minecraft servers starting from just $2.50, why not give us a try to experience our superior support!">
    <meta name="dc.description" CONTENT=" Are you looking for budget dedicated servers, dedicated server hosting or ddos protected vps for you business? If so, then Spartan Host is the place for you.">
    <meta name="keywords" content=" dedicated server hosting, dedicated servers, ddos protected vps, dedicated server">
    <meta name="dc.language" CONTENT="Unites Stated">
    <meta name="dc.source" CONTENT=" http://spartanhost.org/">
	<link href="http://spartanhost.org/img/favicon.png" rel="shortcut icon" />

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300|Oswald:300' rel='stylesheet' type='text/css'>
	<link href="css/style.css" media="all" rel="stylesheet" type="text/css" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js" data-main="js/gateway.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49048240-1', 'spartanhost.org');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
var __lc = {};
__lc.license = 3864611;

(function() {
	var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
	lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
